@font-face {
  font-family: "Godo";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2")
      format("woff2"),
    url("//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff")
      format("woff");
}

@font-face {
  font-family: "HakgyoansimPuzzleTTF-Outline";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimPuzzleTTF-Outline.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vw;
  font-family: "Godo";
  padding: 2vh;
}

.navbar ul {
  display: flex block;
  gap: 8.5vw;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  box-sizing: border-box;
}

.navbar ul li a {
  position: relative;
  cursor: pointer;
  padding: 1vw;
  width: 2vw;
  color: #000;
  font-size: 2vw;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {
  color: #727272;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.container {
  width: 100%;
  /* margin: 21vw auto 0; */
}

.container_dark {
  background-color: #000;
}

.logo img {
  /* display: none; */
  cursor: pointer;
  height: 3vh;
}

.h1 {
  font-size: 5vw;
  font-family: "Godo";
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
  }

  .h1 {
    font-size: 3.5vw;
  }

  .navbar {
    display: flex;
    align-items: center;
    height: 8vw;
    font-family: "Godo";
    gap: 4vw;
  }

  .navbar ul {
    display: flex block;
    gap: 8.5vw;
    justify-content: center;
    align-items: center;
  }

  .navbar ul li {
    box-sizing: border-box;
  }

  .navbar ul li a {
    position: relative;
    cursor: pointer;
    padding: 1vw;
    width: 2vw;
    color: #000;
    font-size: 2vw;
  }

  .navbar ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: all 0.3s ease;
  }

  .navbar ul li a:hover {
    color: #727272;
  }

  .navbar ul li a:hover::after {
    width: 100%;
  }

  .logo img {
    display: block;
    height: 5vh;
  }
}

@media (min-width: 1024px) {
  .navbar ul li a {
    font-size: 1.5vw;
  }
}
