@font-face {
  font-family: "Godo";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2")
      format("woff2"),
    url("//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff")
      format("woff");
}

@font-face {
  font-family: "HakgyoansimPuzzleTTF-Outline";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimPuzzleTTF-Outline.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  /* margin: 21vw auto 0; */
}

.container_dark {
  background-color: #000;
}

.h1 {
  font-size: 5vw;
  font-family: "Godo";
}

.main_wrap {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10vw;

  font-family: "HakgyoansimPuzzleTTF-Outline";
  box-sizing: border-box;
  text-align: center;
}

.main_wrap h1 {
  font-size: 5vw;
}

.main_wrap p {
  /* position: absolute;
  left: 20px;
  font-size: 10vw; */
  font-family: "GangwonEduPowerExtraBoldA";
  font-size: 3vw;
}

.main_wrap a {
  font-size: 5vw;
  cursor: pointer;
  animation: bounceTwiceWithPause 3s ease-in-out 2s infinite;
  animation-delay: 2s; /* h1 애니 끝나고 시작 (2초 뒤) */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
}

.contents_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vw 2vw;
  border-top: dotted 3px #000;
  gap: 5vw;
}

.contents_title {
  display: flex;
  align-items: end;
  gap: 3vw;
  width: 100%;
}

.contents_about_title p {
  padding-bottom: 1vw;
  font-size: 2vw;
  font-family: "Godo";
}

.contents_about_main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  gap: 5vw;
  padding: 10vw 0;
}

.about_profile_main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contents_about_img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 13vw;
  height: 15vw;
  gap: 5vw;
}

.contents_about_emoji_1 {
  display: flex;
  justify-content: start;
  align-items: start;
}

.contents_about_emoji_1 p {
  font-size: 5vw;
  transform: rotate(-25deg);
  transition: transform 0.3s ease;
}

.contents_about_emoji_1 p.active {
  animation: swing 1.2s ease-in-out infinite;
}

@keyframes swing {
  0% {
    transform: rotate(-25deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

.contents_about_emoji_2 {
  display: flex;
  align-items: end;
  justify-content: right;
}

.contents_about_emoji_2 p {
  font-size: 5vw;
  rotate: 25deg;
}

.contents_about_img img {
  width: 15vw;
}

.contents_about_introduce {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3vw;
  width: 55vw;
  padding: 10px 35px;
  font-size: 2vw;
  font-family: "Pretendard-Regular";
  border-left: solid 5px #646464;
  background: #f5f5f5;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-in-out;
}

.contents_about_introduce.active {
  opacity: 1;
  transform: translateY(0);
}

.contents_about_introduce p {
  line-height: 2.5vh;
}

.span_yellow {
  font-weight: bolder;
  background-color: rgba(255, 255, 0, 0.393);
}

.span_bottom {
  font-weight: bold;
  border-bottom: solid 1px #000;
  color: #646464;
}

.about_tag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
  padding-top: 3vw;
}

.about_tag p {
  font-size: 1.5vw;
  padding: 1vw;
  border-radius: 10px;
  /* border: solid 1.5px; */
  background-color: #fff;
  transition: transform 1s ease;
}

.about_tag p:hover {
  transform: scale(1.2);
}

.char {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.5s forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceTwiceWithPause {
  0%,
  100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10px);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-7px);
  }
  40% {
    transform: translateY(0);
  }
  /* 40% ~ 100% 구간은 아무 일도 없음 = 쉬는 시간 */
}

/* #project */
.contents_project_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 5vw 0;
  gap: 2vw;
}

.contents_project_main a {
  text-decoration: none;
}

.project_card {
  width: 200px;
  min-width: 200px;
  max-width: 30vw;
  min-height: 300px;
  padding: 20px;
  box-shadow: 0px 0px 3px 1px #c0c0c0;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  background-color: #f5f5f5;
}

.project_card:hover {
  background-color: #000;
  color: #fff;
  transition: 0.2s ease;
}

.project_img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 45vw;
}

.project_img_box img {
  width: 100%;
}

.project_introduce {
  font-family: "Pretendard-Regular";
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.project_introduce_title a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.project_introduce h2 {
  font-size: 20px;
  font-family: "Godo";
}

/* skill */
.contents_skill_main {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding: 10vh 0;
}

.skill_card {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 2vh;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px #f5f5f5;
}

.skill_img_wrap {
  width: 100%;
  border-radius: 10px;
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
}

.skill_img_wrap div {
  min-width: 40px;
  min-height: 40px;
  max-width: 5vw;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 2px #f5f5f5;
  transition: transform 1s ease;
}

.skill_img_wrap img {
  width: 100%;
}

.skill_img_wrap div:hover {
  transform: scale(1.2);
}

/* contact */
.item_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px #f5f5f5;
  min-height: 20vh;
  padding: 30px;
  margin: 30px 0;
}

.contact_item {
  display: grid;
  grid-template-columns: 10vw 1fr;
  margin: 10px;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
  }

  .h1 {
    font-size: 3.5vw;
  }

  .contents_about_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    gap: 5vw;
    padding: 10vw 0;
  }

  .contents_about_emoji_1 {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100%;
  }

  .contents_about_emoji_2 {
    display: flex;
    align-items: end;

    height: 100%;
  }

  .contents_about_title p {
    font-size: 1.5vw;
  }

  .contents_about_introduce p {
    line-height: 3.5vh;
  }

  .contents_about_img img {
    width: 13vw;
  }

  .main_wrap {
    padding-top: 6vw;
  }

  .main_wrap h1 {
    font-size: 6vw;
  }

  .project_card {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .main_wrap {
    font-size: 5vw;
    height: 85vh;
  }
  .main_wrap h1 {
    font-size: 4.5vw;
  }

  .main_wrap a {
    font-size: 4vw;
  }

  .contents_about_introduce {
    font-size: 1.2vw;
  }

  .about_tag {
    font-size: 1vw;
  }
}
